
it.sssa.erode.metrics/bin/it/sssa/erode/metrics/commandline/EntryPointPythonMetrics.class
.DS_Store
it.sssa.erode.metrics/distr/.ipynb_checkpoints/erodePython-checkpoint.ipynb
it.sssa.erode.metrics/distr/.ipynb_checkpoints/erodeZe3Python-checkpoint.ipynb
it.sssa.erode.metrics/distr/.ipynb_checkpoints/jvmRunner-checkpoint.ipynb
it.sssa.erode.metrics/distr/.ipynb_checkpoints/brp-checkpoint.txt
it.sssa.erode.metrics/distr/.ipynb_checkpoints/ciao-checkpoint.csv
it.sssa.erode.metrics/distr/.ipynb_checkpoints/ciaoupper_diagonal-checkpoint.pdf
it.sssa.erode.metrics/distr/.ipynb_checkpoints/example-checkpoint.txt
it.sssa.erode.metrics/distr/.ipynb_checkpoints/jvmRunner_old-checkpoint.ipynb
it.sssa.erode.metrics/distr/.ipynb_checkpoints/metricsComputer-checkpoint.ipynb
it.sssa.erode.metrics/distr/.ipynb_checkpoints/metricsComputer-Copy1-checkpoint.ipynb
it.sssa.erode.metrics/distr/.ipynb_checkpoints/metricsComputer-esperimentiQEST-checkpoint.ipynb
it.sssa.erode.metrics/distr/.ipynb_checkpoints/nets-checkpoint.txt
it.sssa.erode.metrics/distr/.ipynb_checkpoints/nets_output-checkpoint.txt
it.sssa.erode.metrics/distr/.ipynb_checkpoints/output-checkpoint.txt
it.sssa.erode.metrics/distr/.ipynb_checkpoints/save_as_a_pdf-checkpoint.pdf
it.sssa.erode.metrics/distr/.ipynb_checkpoints/save_as_a_png-checkpoint.png
it.sssa.erode.metrics/distr/.ipynb_checkpoints/test2-checkpoint.csv
it.sssa.erode.metrics/distr/.ipynb_checkpoints/test2-checkpoint.pdf
it.sssa.erode.metrics/distr/.ipynb_checkpoints/test2B-checkpoint.csv
it.sssa.erode.metrics/distr/.ipynb_checkpoints/Untitled-checkpoint.ipynb
it.sssa.erode.metrics/distr/leontief/.ipynb_checkpoints/ITABDE-checkpoint.txt
it.sssa.erode.metrics/distr/leontief/.ipynb_checkpoints/ITAData-checkpoint.csv
it.sssa.erode.metrics/distr/leontief/.ipynb_checkpoints/ITAData_lambda1.0-checkpoint.pdf
it.sssa.erode.metrics/distr/leontief/.ipynb_checkpoints/ITADemand-checkpoint.csv
it.sssa.erode.metrics/bin/it/imt/erode/metrics/data/SolutionAndOptimalValue.class
it.sssa.erode.metrics/bin/it/imt/erode/metrics/algorithm/affine/SimplePolicyIterationUpperDiagonal.class
it.sssa.erode.metrics/bin/it/imt/erode/metrics/algorithm/affine/SimplePolicyIteration.class
it.sssa.erode.metrics/bin/it/imt/erode/metrics/data/Matrix.class
it.sssa.erode.metrics/distr/prismdtmc/.ipynb_checkpoints/haddad-monmege.v1n5p0.6.tra_lambda1.0-checkpoint.pdf
it.sssa.erode.metrics/distr/prismdtmc/.ipynb_checkpoints/hermann3.tra_lambda1.0clusterMap-checkpoint.pdf
it.sssa.erode.metrics/distr/prismdtmc/.ipynb_checkpoints/hermann5.tra_lambda1.0-checkpoint.pdf
it.sssa.erode.metrics/distr/prismdtmc/Archive.zip
it.sssa.erode.metrics/distr/ciao.csv
it.sssa.erode.metrics/distr/crowds.txt
it.sssa.erode.metrics/distr/egl.txt
it.sssa.erode.metrics/distr/brp.txt
it.sssa.erode.metrics/distr/brp_good0.0001.txt
it.sssa.erode.metrics/distr/brp_varyingMax1.txt
it.sssa.erode.metrics/distr/leontief/ITAData_lambda1.0.pdf
it.sssa.erode.metrics/distr/leontief/ITAData_lambda1.0clusterMap copy.pdf
it.sssa.erode.metrics/distr/leontief/ITAData_lambda1.0clusterMap.pdf
it.sssa.erode.metrics/distr/leontief/metricsLeontiefLambda1.txt
it.sssa.erode.metrics/distr/leontief/metricsLeontiefLambda1_differentValues.txt
it.sssa.erode.metrics/distr/leontief/pagerank.txt
it.sssa.erode.metrics/distr/nets.txt
it.sssa.erode.metrics/distr/nets_output.txt
it.sssa.erode.metrics/distr/nets_output2.txt
it.sssa.erode.metrics/distr/output.txt
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX2.tra_lambda1.0.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX2.tra_lambda1.0_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX2.tra_lambda1.0BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX2.tra_lambda1.0clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX2.tra_lambda1.0upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX3.tra_lambda1.0.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX3.tra_lambda1.0_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX3.tra_lambda1.0BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX3.tra_lambda1.0clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX3.tra_lambda1.0upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX4.tra_lambda1.0.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX4.tra_lambda1.0_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX4.tra_lambda1.0BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX4.tra_lambda1.0clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX4.tra_lambda1.0upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX5.tra_lambda1.0.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX5.tra_lambda1.0_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX5.tra_lambda1.0BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX5.tra_lambda1.0clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX5.tra_lambda1.0upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX6.tra_lambda1.0.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX6.tra_lambda1.0_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX6.tra_lambda1.0BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX6.tra_lambda1.0clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX6.tra_lambda1.0upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX7.tra_lambda1.0.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX7.tra_lambda1.0_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX7.tra_lambda1.0BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX7.tra_lambda1.0clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN1.MAX7.tra_lambda1.0upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN2.MAX1.tra_lambda1.0.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN2.MAX1.tra_lambda1.0_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN2.MAX1.tra_lambda1.0BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN2.MAX1.tra_lambda1.0clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/brpN2.MAX1.tra_lambda1.0upper_diagonal.pdf
it.sssa.erode.metrics/distr/haddad-monmege.v1.txt
it.sssa.erode.metrics/distr/haddad-monmege.v1_expp06_0.0001.txt
it.sssa.erode.metrics/distr/prismdtmc/brp/good/brpN2.MAX1.tra_lambda0.0001BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX10.tra_lambda1BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX2.tra_lambda1BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX3.tra_lambda1BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX4.tra_lambda1BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX5.tra_lambda1BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX6.tra_lambda1BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX7.tra_lambda1BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX8.tra_lambda1.0BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX8.tra_lambda1BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX9.tra_lambda1BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brpN1.MAX2.tra_lambda1.0.pdf
it.sssa.erode.metrics/distr/prismdtmc/brpN1.MAX2.tra_lambda1.0_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/brpN1.MAX2.tra_lambda1.0BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brpN1.MAX2.tra_lambda1.0clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/brpN1.MAX2.tra_lambda1.0upper_diagonal.pdf
it.sssa.erode.metrics/distr/weightedGraphs
it.sssa.erode.metrics/distr/test_lambda200000.0clusterMap.pdf
it.sssa.erode.metrics/distr/test_lambda200000.0.pdf
it.sssa.erode.metrics/distr/test_lambda200.0clusterMap.pdf
it.sssa.erode.metrics/distr/test_lambda200.0.pdf
it.sssa.erode.metrics/distr/test_lambda2.0clusterMap.pdf
it.sssa.erode.metrics/distr/test_lambda2.0.pdf
it.sssa.erode.metrics/distr/test_lambda1.0upper_diagonal.pdf
it.sssa.erode.metrics/distr/test_lambda1.0clusterMap.pdf
it.sssa.erode.metrics/distr/save_as_a_pdf.pdf
it.sssa.erode.metrics/distr/save_as_a_pdf.png
it.sssa.erode.metrics/distr/save_as_a_png.png
it.sssa.erode.metrics/distr/nand0001.txt
it.sssa.erode.metrics/distr/nand1.txt
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brplambda00001.zip
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brplambda00001/brpN1.MAX10.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brplambda00001/brpN1.MAX2.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brplambda00001/brpN1.MAX3.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brplambda00001/brpN1.MAX4.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brplambda00001/brpN1.MAX5.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brplambda00001/brpN1.MAX6.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brplambda00001/brpN1.MAX7.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brplambda00001/brpN1.MAX8.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brplambda00001/brpN1.MAX9.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX10.tra_lambda0.0001.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX10.tra_lambda0.0001BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX10.tra_lambda0.0001clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX10.tra_lambda0.0001upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX2.tra_lambda0.0001.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX2.tra_lambda0.0001BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX2.tra_lambda0.0001clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX2.tra_lambda0.0001upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX3.tra_lambda0.0001.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX3.tra_lambda0.0001BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX3.tra_lambda0.0001clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX3.tra_lambda0.0001upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX4.tra_lambda0.0001.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX4.tra_lambda0.0001BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX4.tra_lambda0.0001clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX4.tra_lambda0.0001upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX5.tra_lambda0.0001.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX5.tra_lambda0.0001BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX5.tra_lambda0.0001clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX5.tra_lambda0.0001upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX6.tra_lambda0.0001.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX6.tra_lambda0.0001BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX6.tra_lambda0.0001clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX6.tra_lambda0.0001upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX6.tra_lambda1.0.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX6.tra_lambda1.0_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX6.tra_lambda1.0BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX6.tra_lambda1.0clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX6.tra_lambda1.0upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX7.tra_lambda0.0001.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX7.tra_lambda0.0001BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX7.tra_lambda0.0001clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX7.tra_lambda0.0001upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX7.tra_lambda1.0.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX7.tra_lambda1.0_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX7.tra_lambda1.0clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX7.tra_lambda1.0upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX8.tra_lambda0.0001.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX8.tra_lambda0.0001BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX8.tra_lambda0.0001clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX8.tra_lambda0.0001upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX9.tra_lambda0.0001.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX9.tra_lambda0.0001BB.csv
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX9.tra_lambda0.0001clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/brp/varyingMax/brpN1.MAX9.tra_lambda0.0001upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/crowds/crowdsTR1.CS2.tra_lambda0.0001.pdf
it.sssa.erode.metrics/distr/prismdtmc/crowds/crowdsTR1.CS2.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/crowds/crowdsTR1.CS2.tra_lambda0.0001BB.csv
it.sssa.erode.metrics/distr/prismdtmc/crowds/crowdsTR1.CS2.tra_lambda0.0001clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/crowds/crowdsTR1.CS2.tra_lambda0.0001upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/crowds/crowdsTR1.CS3.__tra
it.sssa.erode.metrics/distr/prismdtmc/crowds/crowdsTR1.CS3.tra
it.sssa.erode.metrics/distr/prismdtmc/crowds/crowdsTR1.CS4.tra_lambda0.0001.pdf
it.sssa.erode.metrics/distr/prismdtmc/crowds/crowdsTR1.CS4.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/crowds/crowdsTR1.CS4.tra_lambda0.0001BB.csv
it.sssa.erode.metrics/distr/prismdtmc/crowds/crowdsTR1.CS4.tra_lambda0.0001clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/crowds/crowdsTR1.CS4.tra_lambda0.0001upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/crowds/crowdsTR1.CS5.__tra
it.sssa.erode.metrics/distr/prismdtmc/crowds/crowdsTR1.CS5.tra
it.sssa.erode.metrics/distr/prismdtmc/crowds/crowdsTR2.CS2.__tra
it.sssa.erode.metrics/distr/prismdtmc/crowds/crowdsTR2.CS2.tra
it.sssa.erode.metrics/distr/prismdtmc/haddad-monmege.v1/haddad-monmege.v1n11p0.6.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/haddad-monmege.v1/haddad-monmege.v1n13p0.6.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/haddad-monmege.v1/haddad-monmege.v1n15p0.6.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/haddad-monmege.v1/haddad-monmege.v1n17p0.6.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/haddad-monmege.v1/haddad-monmege.v1n19p0.6.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/haddad-monmege.v1/haddad-monmege.v1n5p0.6.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/haddad-monmege.v1/haddad-monmege.v1n7p0.6.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/haddad-monmege.v1/haddad-monmege.v1n9p0.6.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/haddad-monmege.v1/haddad_lambda00001.zip
it.sssa.erode.metrics/distr/prismdtmc/haddad-monmege.v1/haddad_lambda00001/haddad-monmege.v1n11p0.6.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/haddad-monmege.v1/haddad_lambda00001/haddad-monmege.v1n13p0.6.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/haddad-monmege.v1/haddad_lambda00001/haddad-monmege.v1n15p0.6.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/haddad-monmege.v1/haddad_lambda00001/haddad-monmege.v1n17p0.6.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/haddad-monmege.v1/haddad_lambda00001/haddad-monmege.v1n19p0.6.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/haddad-monmege.v1/haddad_lambda00001/haddad-monmege.v1n5p0.6.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/haddad-monmege.v1/haddad_lambda00001/haddad-monmege.v1n7p0.6.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/haddad-monmege.v1/haddad_lambda00001/haddad-monmege.v1n9p0.6.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/nand/nand.zip
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K2.lab
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K2.tra
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K2.tra_lambda0.0001.pdf
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K2.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K2.tra_lambda0.0001BB.csv
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K2.tra_lambda0.0001clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K2.tra_lambda0.0001upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K2.tra_lambda1.0.pdf
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K2.tra_lambda1.0_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K2.tra_lambda1.0BB.csv
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K2.tra_lambda1.0clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K2.tra_lambda1.0upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K3.lab
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K3.tra
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K3.tra_lambda0.0001.pdf
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K3.tra_lambda0.0001_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K3.tra_lambda0.0001BB.csv
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K3.tra_lambda0.0001clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K3.tra_lambda0.0001upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K3.tra_lambda1.0.pdf
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K3.tra_lambda1.0_metrics.csv
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K3.tra_lambda1.0BB.csv
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K3.tra_lambda1.0clusterMap.pdf
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K3.tra_lambda1.0upper_diagonal.pdf
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K4.__tra
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K4.lab
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K5.__tra
it.sssa.erode.metrics/distr/prismdtmc/nand/nandN1.K5.lab
it.sssa.erode.metrics/distr/crowds00001.txt
it.sssa.erode.metrics/distr/brp_varyingMax00001.txt
